body {
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  border:3px solid #32373e;
  background-color: #21262E;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

#score {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #cdd9e5;
}

button {
  display: flex;
  background-color: #21262e;
  color: #cdd9e5;
  padding: 5px;
  margin: 10px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border: 3px solid;
  border-color: #32373e;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
 background-color: #2d333b;
 border:1px solid #cdd9e5;
}

button:active {
  box-shadow: 0 0 2px darkslategray;
  border:1px solid #cdd9e5;
  transform: translateY(2px);
}

button {
  margin-bottom: 10px;
}

.round-1 {
  padding-top: 10px;
  border-radius: 70%;
}
.round-2 {
  padding-right: 10px;
  border-radius: 70%;
  font-size: 15px;
}